.jumbotron {
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  /*background-color: #e3ffe7;*/
  /*background-image: url("img/img7.jpg");
  background-size: cover;*/
  background-position: 0% 35%;
  text-align: center;
  margin-bottom: 0px;
  border-bottom: solid #7CBFAD 50px;
  border-radius: 0;
}
.display-3 {
  margin-top: 65px;
  color: #F2969B;
}
#column1 h2 {
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
}
#column1 li {
  font-size: 25px;
}
#column1 {
  border-right: 5px solid #F2969B;
  border-top: 5px solid #F2969B;
  background-image: url("img/cardboard.png");
}
#column2 {
  border-top: 5px solid #F2969B;
  background-image: url("img/cardboard.png");
}
#column2 h2 {
  margin-top: 20px;
  margin-left: 30px;
  text-align: center;
}
a {
  color:#5a5a5a;
}
a:hover {
  color:#F2969B;
}
